{% extends "base/base.html" %}



{% block head_title %} Registro de Usuario {% endblock %}

{% block content %}
<div class="container col-lg-9 col-md-12">
    <form id="id_frm_registrar" method="POST">
        {%csrf_token%}
        <div id="div_id_correo" class="form-group">
        <br>
        <h4>Registro de Usuario</h4>
            <br>
            <br>
            <label for="id_correo" class="form-control-label">
                E-mail*
            </label>
            <input maxlength="30" id="id_correo" name="email" class="col-lg-9 col-md-12 form-control" type="email">
            <strong id="id_strong_correo" style="color:red;font-size: 11;visibility: hidden;"></strong>
        </div>
        <div  class="form-group">
            <label for="id_nombre" class="form-control-label">Nombre*</label>
            <input maxlength="30" class="col-lg-9 col-md-12 form-control" type="text" name="username" id="id_nombre">
        </div>
        <div class="form-group" >
            <label for="id_contrasena" class="form-control-label">
                Contraseña*
            </label>
            <input maxlength="18" class="col-lg-9 col-md-12 form-control" id="id_contrasena" name="contrasena" type="password">
            <strong id="id_strong_contrasenas" style="color:red;font-size: 11;visibility: hidden;"></strong>
        </div>
        <div style="text-align: center;"class="col-lg-9 col-md-12">
            <button title="Click aqui para guardar"  type="submit" class="btn btn-warning">Registrarse</button>
        </div>
        <br>
        <br>

    </form>
    
</div>

{% endblock %}